.ant-btn {
  &.ant-btn-background-ghost {
    border-radius: 0;
    border-color: $border;
    color: $color;

    &.ant-btn-primary {
      border-color: $activeBorder;
      background: $activeBackground !important;

      &:hover, &:focus {
        background: $hoverBackground !important;
        color: #fff;
      }
    }
    &:hover {
      background: $hoverBackground !important;
    }
  }
}

.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav-container {
  height: 29px;
  .ant-tabs-tab {
    background: transparent;
    padding: 3px 10px;
    border-radius: 0;
    border-color: $border;
    color: $color;

    .anticon {
      margin: 0;
    }
    &.ant-tabs-tab-active {
      color: $activeColor;
    }
  }
  .ant-tabs-tab-active {
    border-color: $activeBorder;
    background: $activeBackground;
  }
}

.ant-select {
  width: 100%;
  .ant-select-selection {
    border-radius: 0;
    background: transparent;
    border-color: $border;
    color: $color;

    .ant-select-arrow {
      color: $color;
    }
  }
}

.ant-select-dropdown {
  border: 1px solid $border;
  background: $background;
  border-radius: 0;

  .ant-select-dropdown-menu {
    li {
      color: $color;

      &.ant-select-dropdown-menu-item-active {
        background: transparent;
      }
      &.ant-select-dropdown-menu-item-selected {
        background: $activeBackground;
        color: $activeColor;

        &:hover {
          background: $activeBackground;
        }
      }
      &:hover {
        background: $hoverBackground;
      }
    }
  }
}

.ant-layout-header {
  background: $background;
  height: 20px;
}

.ant-layout-sider {
  background: $background;
}

.ant-layout-footer {
  padding: 10px;
  background: $background;
}
