$border: #7f8c8d;
$activeBorder: rgba(52, 152, 219, 1.0);

$background: #404040;
$hoverBackground: rgba(255, 255, 255, .1);
$activeBackground: rgba(52, 152, 219, .9);

$color: #ecf0f1;
$activeColor: #fff;
