.input.number {
  position: relative;

  .anticon {
    position: absolute;
    top: 5px;
    cursor: ew-resize;
  }
  input {
    @include transition(.2s);
    width: 100%;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0 5px 0 18px;
    color: #3498db;

    &:focus {
      outline: none;
    }
  }

  &:focus {
    background: rgba(255, 255, 255, .1);
  }
}
