.sider {
  overflow-x: auto;
  max-height: calc(100vh - 62px);
}

.panels {
  color: #95a5a6;
  h5 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
  }
}

.panel {
  margin-top: 20px;
}

.button-panel {
  button {
    margin-right: 5px;
  }
}
